%h1 Similar movies to #{@movie.title}

%table#similar_movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th Director
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= movie.director
= link_to 'Back to movie list', movies_path